<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <!-- Toggle button for mobile -->
      <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNav"
              aria-controls="navbarNav"
              aria-expanded="false"
              aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto align-items-center">
          <li class="nav-item me-3 position-relative">
            <a class="nav-link" href="/home">
              <img src="/img/logo-white.png" alt=""
                   style="width: 40px; height: 40px">
            </a>
          </li>
          <li class="nav-item">
            <form class="d-flex">
              <input
                      id="search"
                      class="form-control me-2"
                      type="search"
                      placeholder="Tìm kiếm"
                      aria-label="Search"
              />
              <button class="btn btn-primary" type="button" id="searchButton">
                <i class="bi bi-search"></i> <!-- Biểu tượng tìm kiếm -->
              </button>
            </form>

          </li>
        </ul>

        <ul class="navbar-nav ms-auto align-items-center">
          <li class="nav-item me-3 position-relative">
            <a class="nav-link" href="/home">
              <i class="bi bi-house-fill text-white" title="Home"></i>
            </a>
          </li>
          <li class="nav-item me-3 position-relative">
            <a class="nav-link" href="#" id="groupsToggle" >
              <i class="bi bi-people-fill text-white" title="Groups"></i>
            </a>
            <div class="dropdown-menu notifications shadow" id="groupsMenu">
              <h6 class="dropdown-header">Lời mời kết bạn</h6>
              <div id="friendRequestList">
                <!-- JavaScript sẽ thêm các lời mời kết bạn vào đây -->
              </div>
            </div>
          </li>


          <!-- Notifications -->
          <li class="nav-item me-3 position-relative">
            <a class="nav-link" href="#" id="notificationsToggle">
              <i class="bi bi-bell-fill text-white" title="Notifications"></i>
            </a>
            <div class="dropdown-menu notifications shadow" id="notificationsMenu">
              <h6 class="dropdown-header">Thông báo</h6>
              <div id="notificationsList">
                <!-- JavaScript sẽ thêm các thông báo vào đây -->
              </div>
            </div>

          </li>

          <li class="nav-item dropdown">
            <a
                    class="nav-link dropdown-toggle d-flex align-items-center"
                    href="#"
                    id="userDropdown"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
            >
              <img
                      id="avatar"
                      src=""
                      class="me-2 rounded-circle" style="width: 40px; height: 40px; object-fit: cover;"
              />
              <span id="name" class="text-white fw-bold"></span>

            </a>
            <ul
                    class="dropdown-menu dropdown-menu-end"
                    aria-labelledby="userDropdown"
            >
              <li><a class="dropdown-item" href="/profile">Trang cá nhân</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a class="dropdown-item text-danger" href="javascript:void(0);" onclick="logout()">Đăng xuất</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>